@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600;900&family=Fraunces:wght@700;900&display=swap");
@import url("./_reset.css");
@import url("./_a11y.css");
@import url("./_typography.css");
@import url("./_utilities.css");
@import url("./_media.css");
@import url("./_colors.css");

:root {
  /* font-family */
  --ff-heading: "Fraunces", serif;
  --ff-body: "Barlow", sans-serif;

  /* colors */
  --primary: 7 99% 79%;
  --secondary: 51 100% 49%;
  --tertiary: 167 40% 24%;
  --dark-blue: 198 62% 26%;
  --dark-cyan: 168 35% 35%;
  --dark: 212 27% 19%;
  --dark-gray: 213 9% 39%;
  --blue-gray: 231 8% 47%;
  --gray-blue: 216 2% 46%;
  --white: 0 0% 100%;

  /* font-sizes */
  --h1: 2.5rem;
  --h2: 2rem;
  --h3: 1.875rem;
  --h4: 1.125rem;
  --body-lg: 1.125rem;
  --body: 1rem;
  --small: 0.875rem;
}

@media (--sm) {
  :root {
    /* font-sizes */
    --h1: 3.5rem;
    --h2: 2.5rem;
  }
}

/* Body */

body {
  font-family: var(--ff-body);
  font-size: var(--body-lg);
  color: hsl(var(--dark));
  line-height: 1.5;
  background-color: hsl(var(--white));
  overflow-x: hidden;
  /* min-height: 100vh;
	  overflow-x: hidden;
	  display: grid;
	  grid-template-rows: min-content 1fr; */
}

/* a:focus-visible {
  outline: 2px dotted white;
  outline-offset: 1rem;
}

button:focus-visible {
  outline: 2px dotted white;
  outline-offset: 0.5rem;
  border-radius: 0;
} */
