---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Features from "../components/Features.astro";
import Blog from "../components/Blog.astro";
import Quote from "../components/Quote.astro";
import Pricing from "../components/Pricing.astro";
import Facts from "../components/Facts.astro";
import Testimonial from "../components/Testimonial.astro";
import Contact from "../components/Contact.astro";
import Gallery from "../components/Gallery.astro";

let title = "Astro Portfolio W52s #7";
let description = "Astro Portfolio W52s #7";
const permalink = Astro.site.href;
let canonicalURL = Astro.request.canonicalURL;
---

<Layout {title} {description} {permalink} current="index" {canonicalURL}>
  <main>
    <h1 class="bg-primary">Primary</h1>
    <h1 class="bg-secondary-100">Secondary 100</h1>
    <h1 class="bg-secondary-200">Secondary 200</h1>
    <h1 class="bg-secondary-300">Secondary 300</h1>
    <h1 class="bg-secondary-400">Secondary 400</h1>
    <h1 class="bg-tertiary-100">tertiary 100</h1>
    <h1 class="bg-tertiary-200">tertiary 200</h1>
    <h1 class="bg-tertiary-300">tertiary 300</h1>
    <h1 class="bg-tertiary-400">tertiary 400</h1>
    <h1 class="bg-quaternary-100">quaternary 100</h1>
    <h1 class="bg-quaternary-200">quaternary 200</h1>
    <h1 class="bg-quaternary-300">quaternary 300</h1>
    <h1 class="bg-quaternary-400">quaternary 400</h1>
    <h1 class="bg-quinary-100">quinary 100</h1>
    <h1 class="bg-quinary-200">quinary 200</h1>
    <h1 class="bg-quinary-300">quinary 300</h1>
    <h1 class="bg-quinary-400">quinary 400</h1>

    <h1 class="bg-gray-100">gray 100</h1>
    <h1 class="bg-gray-200">gray 200</h1>
    <h1 class="bg-gray-300">gray 300</h1>
    <h1 class="bg-gray-400">gray 400</h1>
    <h1 class="bg-gray-500">gray 500</h1>
    <h1 class="bg-gray-600">gray 600</h1>
    <h1 class="bg-gray-700">gray 700</h1>
    <h1 class="bg-gray-800">gray 800</h1>
    <Hero />
    <Features />
    <Blog />
    <Quote />
    <Pricing />
    <Facts />
    <Testimonial />
    <Contact />
    <Gallery />
  </main>
</Layout>
