<section id="contact" aria-label="contact section">
  <div class="contact_card">
    <svg
      width="424"
      height="422"
      viewBox="0 0 424 422"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M296.986 73.2085L296.482 100.763C296.482 100.763 297.971 110.28 306.503 110.78C315.035 111.276 360.209 106.29 360.209 106.29C360.209 106.29 403.375 84.9003 423.953 55.3453L423.96 55.871C403.392 26.3067 360.233 4.8913 360.233 4.8913C360.233 4.8913 315.076 -0.136041 306.547 0.361829C298.016 0.866643 296.505 10.3725 296.505 10.3725L296.997 37.943L273.402 41.0506L273.404 71.6894L296.986 73.2085Z"
        fill="#FFBD9E"></path>
      <path
        d="M140.357 57.1736C140.353 75.2081 159.427 76.2154 159.427 76.2154L233.829 71.3548L239.35 65.8435L263.537 66.5174L263.544 44.6968L239.352 45.3382L233.834 39.8338L159.439 34.9292C159.439 34.9292 140.369 35.9227 140.371 53.9456L140.357 57.1736Z"
        fill="#FFBD9E"></path>
      <path
        d="M308.022 224.022L335.843 288.853C340.298 299.234 341.954 310.601 340.645 321.821L332.81 389.007C332.81 396.464 402.142 396.464 402.142 389.007L397.244 324.587C396.628 316.495 396.74 308.364 397.58 300.292L403.518 243.184C403.518 243.184 409.371 210.544 408.917 199.565C408.554 190.802 399.459 186.272 397.906 193.53C395.516 204.712 388.272 235.879 388.272 235.879C388.272 235.879 392.906 194.919 393.248 180.508C393.424 173.038 383.485 170.371 381.073 177.12C376.787 189.111 369.004 227.515 369.004 227.515C369.004 227.515 371.496 183.758 369.117 168.309C368.202 162.369 356.928 163.802 356.193 170.874C354.717 185.05 351.11 224.657 351.11 224.657C351.11 224.657 349.606 189.277 348.358 177.861C347.561 170.561 337.723 167.167 335.019 178.708C331.648 193.087 334.913 237.784 334.913 237.784C334.913 237.784 321.926 212.547 313.632 209.411C307.026 206.913 302.895 214.385 308.022 224.022Z"
        fill="#FFBD9E"></path>
      <path
        d="M283.143 368.977C283.143 350.938 264.082 349.93 264.082 349.93L189.688 354.798L184.162 360.305L159.969 359.642L159.962 381.463L184.153 380.812L189.664 386.328L264.064 391.233C264.064 391.233 283.14 390.242 283.145 372.203L283.143 368.977Z"
        fill="#FFBD9E"></path>
      <path
        d="M148.06 372.523L148.048 386.545L126.97 386.214L126.634 411.262C126.634 411.262 125.954 421.949 115.924 421.949C105.887 421.938 10.8658 412.568 10.8658 412.568C10.8658 412.568 -3.50896 404.878 9.8776 398.874L64.4097 395.884L66.1935 383.627L12.5568 380.17C12.5568 380.17 4.18756 378.498 4.18988 371.146V369.951C4.19452 362.596 12.5568 360.926 12.5568 360.926L66.2004 357.499L64.4167 345.256L9.88224 342.227C-3.49736 336.207 10.8913 328.53 10.8913 328.53C10.8913 328.53 105.912 319.212 115.949 319.219C125.984 319.219 126.657 329.903 126.657 329.903L126.979 354.952L148.058 354.626L148.055 368.656L148.06 372.523Z"
        fill="#FFBD9E"></path>
      <path
        d="M2.4517 210.294C-3.01079 220.475 1.39099 228.369 8.43035 225.73C17.2698 222.416 31.1088 195.753 31.1088 195.753C31.1088 195.753 27.6298 242.976 31.2219 258.168C34.1046 270.361 44.5877 266.775 45.4382 259.063C46.7674 247.001 48.3707 209.622 48.3707 209.622C48.3707 209.622 52.2145 251.467 53.7873 266.445C54.5705 273.916 66.5846 275.429 67.5602 269.154C70.0951 252.832 67.4391 206.602 67.4391 206.602C67.4391 206.602 75.7334 247.177 80.3016 259.845C82.8719 266.975 93.4636 264.158 93.2753 256.266C92.9116 241.041 87.9732 197.765 87.9732 197.765C87.9732 197.765 95.6922 230.694 98.2406 242.507C99.8946 250.176 109.587 245.389 109.973 236.132C110.458 224.532 104.22 190.048 104.22 190.048L97.8928 129.712C96.9975 121.184 96.8784 112.594 97.5341 104.045L102.755 35.9839C102.754 28.1056 28.8683 28.1056 28.8683 35.9839L37.2185 106.966C38.613 118.821 36.8488 130.831 32.1013 141.798L2.4517 210.294Z"
        fill="#FFBD9E"></path>
      <g style="mix-blend-mode:multiply">
        <path
          d="M220.516 197.177L205.908 197.152L147.999 197.053L147.981 207.486L156.327 207.501L174.939 307.179L205.72 307.232L220.328 307.256L251.109 307.309L270.062 207.695L278.41 207.709L278.428 197.275L220.516 197.177Z"
          fill="#FFBD9E"></path>
        <path
          d="M156.895 186.648C156.948 155.585 182.261 130.356 213.327 130.409C244.385 130.462 269.618 155.776 269.565 186.84C269.563 188.022 269.521 189.194 269.446 190.359L273.366 190.366C273.435 189.198 273.472 188.024 273.474 186.846C273.488 178.715 271.909 170.821 268.778 163.386C265.758 156.207 261.424 149.756 255.902 144.215C250.38 138.673 243.943 134.318 236.772 131.271C229.351 128.117 221.465 126.508 213.333 126.495C205.199 126.481 197.308 128.06 189.871 131.192C182.694 134.214 176.243 138.547 170.701 144.07C165.16 149.592 160.805 156.029 157.758 163.198C154.603 170.621 152.995 178.507 152.981 186.641C152.979 187.821 153.012 188.994 153.077 190.161L156.997 190.168C156.929 189.005 156.893 187.83 156.895 186.648Z"
          fill="#FFBD9E"></path>
      </g>
    </svg>
    <div class="line"></div>
    <div class="contact_card_content">
      <h2 class="text-gray-100">
        Stay connected with The Beach Collective fun!
      </h2>
      <form>
        <div class="form_wrapper">
          <label for="name" class="uppercase">Name</label>
          <input type="text" id="name" />
        </div>
        <div class="form_wrapper">
          <label for="email" class="uppercase">Email</label>
          <input type="email" id="email" />
        </div>
        <button type="submit">Sign up</button>
      </form>
    </div>
  </div>
</section>

<style>
  @import url("../styles/_media.css");
  section {
    background-image: url("/assets/images/mobile/contact.jpg");
    padding-block: 1.5rem;
    margin-top: 5.5rem;
    @media (--md) {
      padding-block: 9rem;
      margin-top: 9.5rem;
      background-image: url("/assets/images/desktop/contact.jpg");
    }
  }

  h2 {
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    padding-bottom: 2rem;
    @media (--md) {
      text-align: left;
    }
  }
  .form_wrapper {
    display: flex;
    flex-direction: column;
  }
  .form_wrapper:nth-child(2) {
    padding-top: 2.5rem;
  }
  button {
    margin-top: 3.5rem;
    background-color: hsl(var(--quinary-100));
    display: block;
    width: 100%;
    color: hsl(var(--primary));
    padding-block: 1.5rem;
    font-size: 1.25rem;
    font-weight: bold;
    border: none;
    border-radius: 90px;
    cursor: pointer;
    @media (--md) {
      width: 50%;
    }
  }
  svg {
    display: none;
    @media (--md) {
      display: flex;
    }
  }
  .contact_card {
    padding: 1.5rem;
    background-color: white;
    width: 90%;
    margin-inline: auto;
    max-width: 82rem;
    @media (--md) {
      display: flex;
      gap: 2rem;
    }
  }
  input {
    height: 2.5rem;
  }
  .contact_card_content,
  svg {
    flex: 100%;
  }
  .line {
    @media (--md) {
      width: 5px;
      height: 350px;
      background-color: black;
      margin-block: auto;
    }
  }
</style>
