<img src="/assets/images/wave.svg" alt="" />
<footer class="bg-primary">
  <div class="container footer_wrapper">
    <div class="left_panel">
      <a href="/">
        <span class="sr-only">home</span>
        <svg
          width="120"
          height="59"
          viewBox="0 0 120 59"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M5.65949 25.6909V5.12633H2.63703V0.237056H13.7786V5.12633H10.7562V25.6909H5.65949Z"
            fill="white"></path>
          <path
            d="M15.2153 25.6909V0.237056H20.2824V9.33406H22.6826V0.237056H27.7496V25.6909H22.6826V14.1344H20.2824V25.6909H15.2153Z"
            fill="white"></path>
          <path
            d="M30.0024 25.6909V0.237056H40.1957V5.15596H35.188V10.1045H39.9883V14.9049H35.188V20.7424H40.5217V25.6909H30.0024Z"
            fill="white"></path>
          <path
            d="M49.159 0.237056H56.0632C57.9201 0.237056 59.2634 0.691412 60.0931 1.60013C60.9426 2.50884 61.3673 3.99044 61.3673 6.04492V7.17093C61.3673 9.60075 60.4981 11.0527 58.7597 11.5268C59.8264 11.8034 60.5771 12.4454 61.0117 13.4529C61.4463 14.4604 61.6636 15.7938 61.6636 17.4532C61.6636 20.1596 61.2587 22.2141 60.4487 23.6167C59.6388 24.9995 58.1769 25.6909 56.0632 25.6909H49.159V0.237056ZM55.1742 9.80817C55.6088 9.80817 55.9052 9.65014 56.0632 9.33406C56.2212 8.99823 56.3002 8.534 56.3002 7.94136V5.39301C56.3002 4.56332 55.9348 4.14847 55.2039 4.14847H54.1371V9.80817H55.1742ZM54.6409 21.2165C55.9644 21.2165 56.6262 20.5843 56.6262 19.32V16.1494C56.6262 15.379 56.5077 14.7962 56.2706 14.4011C56.0533 14.006 55.6582 13.8085 55.0853 13.8085H54.1371V21.1868L54.6409 21.2165Z"
            fill="white"></path>
          <path
            d="M63.3383 25.6909V0.237056H73.5317V5.15596H68.5239V10.1045H73.3243V14.9049H68.5239V20.7424H73.8576V25.6909H63.3383Z"
            fill="white"></path>
          <path
            d="M74.8684 25.6909L77.3278 0.237056H85.9507L88.3805 25.6909H83.5505L83.1949 21.5721H80.1132L79.8169 25.6909H74.8684ZM80.4984 17.5125H82.8097L81.6837 4.56332H81.4466L80.4984 17.5125Z"
            fill="white"></path>
          <path
            d="M95.8582 25.9279C94.0013 25.9279 92.5098 25.3452 91.3838 24.1797C90.2775 23.0141 89.7244 21.414 89.7244 19.3793V7.64504C89.7244 5.11645 90.2281 3.21013 91.2356 1.92608C92.2431 0.642025 93.8235 0 95.9767 0C97.8534 0 99.3646 0.51362 100.51 1.54086C101.656 2.5681 102.229 4.0497 102.229 5.98565V10.3712H97.162V6.60792C97.162 5.877 97.0731 5.37326 96.8953 5.09669C96.7175 4.82013 96.4113 4.68185 95.9767 4.68185C95.5224 4.68185 95.2063 4.83988 95.0285 5.15596C94.8705 5.47203 94.7914 5.93627 94.7914 6.54866V19.32C94.7914 19.9917 94.8902 20.4855 95.0878 20.8016C95.2853 21.0979 95.5816 21.2461 95.9767 21.2461C96.7669 21.2461 97.162 20.6041 97.162 19.32V14.7271H102.288V19.5274C102.288 23.7944 100.145 25.9279 95.8582 25.9279Z"
            fill="white"></path>
          <path
            d="M103.966 25.6909V0.237056H109.034V9.33406H111.434V0.237056H116.501V25.6909H111.434V14.1344H109.034V25.6909H103.966Z"
            fill="white"></path>
          <path
            d="M6.13381 55.5599C4.27688 55.5599 2.7854 54.9771 1.65939 53.8116C0.553129 52.6461 0 51.046 0 49.0112V37.277C0 34.7484 0.503742 32.8421 1.51123 31.558C2.51871 30.274 4.09909 29.8046 6.25234 29.8046C8.12903 29.8046 9.64026 30.1456 10.786 31.1728C11.9318 32.2 12.5047 33.6816 12.5047 35.6176V40.0031H7.43762V36.2399C7.43762 35.5089 7.34872 35.0052 7.17093 34.7286C6.99314 34.4521 6.68694 34.3138 6.25234 34.3138C5.79798 34.3138 5.48191 34.4718 5.30412 34.7879C5.14608 35.104 5.06706 35.5682 5.06706 36.1806V48.952C5.06706 49.6236 5.16583 50.1175 5.36338 50.4336C5.56093 50.7299 5.85725 50.878 6.25234 50.878C7.04252 50.878 7.43762 50.236 7.43762 48.952V44.359H12.5639V49.1594C12.5639 53.4264 10.4206 55.5599 6.13381 55.5599Z"
            fill="white"></path>
          <path
            d="M20.3166 55.5599C18.2622 55.5599 16.7015 54.9376 15.6348 53.6931C14.568 52.4288 14.0347 50.6607 14.0347 48.389V36.2695C14.0347 34.0767 14.568 32.4272 15.6348 31.321C16.7015 30.1949 18.4122 29.8046 20.4667 29.8046C22.5211 29.8046 23.9317 30.1949 24.9985 31.321C26.0652 32.4272 26.5986 34.0767 26.5986 36.2695V48.389C26.5986 50.6805 26.0652 52.4485 24.9985 53.6931C23.9317 54.9376 22.3711 55.5599 20.3166 55.5599ZM20.3166 50.878C20.771 50.878 21.0772 50.6805 21.2352 50.2854C21.3933 49.8903 21.4723 49.3372 21.4723 48.626V36.1806C21.4723 35.6275 21.3933 35.183 21.2352 34.8472C21.0969 34.4916 20.8006 34.3138 20.3463 34.3138C19.4968 34.3138 19.0721 34.9558 19.0721 36.2399V48.6556C19.0721 49.3866 19.161 49.9397 19.3388 50.315C19.5166 50.6904 19.8425 50.878 20.3166 50.878Z"
            fill="white"></path>
          <path
            d="M50.8823 55.3228V29.869H61.0757V34.7879H56.0679V39.7364H60.8683V44.5368H56.0679V50.3743H61.4017V55.3228H50.8823Z"
            fill="white"></path>
          <path
            d="M69.0203 55.5599C67.1634 55.5599 65.6719 54.9771 64.5459 53.8116C63.4396 52.6461 62.8865 51.046 62.8865 49.0112V37.277C62.8865 34.7484 63.3903 32.8421 64.3977 31.558C65.4052 30.274 66.9856 29.6319 69.1389 29.6319C71.0155 29.6319 72.5268 30.1456 73.6725 31.1728C74.8183 32.2 75.3912 33.6816 75.3912 35.6176V40.0031H70.3241V36.2399C70.3241 35.5089 70.2352 35.0052 70.0574 34.7286C69.8797 34.4521 69.5735 34.3138 69.1389 34.3138C68.6845 34.3138 68.3684 34.4718 68.1906 34.7879C68.0326 35.104 67.9536 35.5682 67.9536 36.1806V48.952C67.9536 49.6236 68.0523 50.1175 68.2499 50.4336C68.4474 50.7299 68.7438 50.878 69.1389 50.878C69.929 50.878 70.3241 50.236 70.3241 48.952V44.359H75.4505V49.1594C75.4505 53.4264 73.3071 55.5599 69.0203 55.5599Z"
            fill="white"></path>
          <path
            d="M79.3214 55.3228V34.7583H76.2989V29.869H87.4405V34.7583H84.418V55.3228H79.3214Z"
            fill="white"></path>
          <path d="M88.6401 55.3228V29.869H93.559V55.3228H88.6401Z" fill="white"
          ></path>
          <path
            d="M97.9316 55.3228L94.7906 29.8394H99.6503L101.517 47.174L103.176 29.8394H108.036L104.895 55.3228H97.9316Z"
            fill="white"></path>
          <path
            d="M109.481 55.3228V29.869H119.674V34.7879H114.666V39.7364H119.467V44.5368H114.666V50.3743H120V55.3228H109.481Z"
            fill="white"></path>
          <rect
            x="31.4214"
            y="29.8677"
            width="2.26355"
            height="23.4586"
            transform="rotate(6.69625 31.4214 29.8677)"
            fill="white"></rect>
          <rect
            x="40.0947"
            y="56.5771"
            width="2.26355"
            height="8.43687"
            transform="rotate(96.6963 40.0947 56.5771)"
            fill="white"></rect>
          <rect
            x="30.7642"
            y="53.6172"
            width="0.528807"
            height="2.17547"
            transform="rotate(83.3195 30.7642 53.6172)"
            fill="white"></rect>
          <rect
            x="30.8306"
            y="54.394"
            width="0.528807"
            height="2.17547"
            transform="rotate(74.8305 30.8306 54.394)"
            fill="white"></rect>
          <rect
            x="30.9915"
            y="54.9238"
            width="0.528807"
            height="2.17547"
            transform="rotate(59.4463 30.9915 54.9238)"
            fill="white"></rect>
          <rect
            x="31.2134"
            y="55.353"
            width="0.528807"
            height="2.17547"
            transform="rotate(35.7703 31.2134 55.353)"
            fill="white"></rect>
          <rect
            x="35.1123"
            y="26.8237"
            width="2.26355"
            height="23.4586"
            transform="rotate(-7.02633 35.1123 26.8237)"
            fill="white"></rect>
          <rect
            x="48.2075"
            y="45.0664"
            width="2.26355"
            height="8.43687"
            transform="rotate(44.3149 48.2075 45.0664)"
            fill="white"></rect>
          <rect
            x="40.2368"
            y="50.0044"
            width="0.528807"
            height="2.17547"
            transform="rotate(69.5969 40.2368 50.0044)"
            fill="white"></rect>
          <rect
            x="40.53"
            y="50.8286"
            width="0.528807"
            height="2.17547"
            transform="rotate(51.9947 40.53 50.8286)"
            fill="white"></rect>
          <rect
            x="41.1262"
            y="51.2393"
            width="0.528806"
            height="2.17547"
            transform="rotate(23.5863 41.1262 51.2393)"
            fill="white"></rect>
          <rect
            x="41.696"
            y="51.3965"
            width="0.528807"
            height="2.17547"
            transform="rotate(-17.1754 41.696 51.3965)"
            fill="white"></rect>
        </svg>
      </a>
    </div>
    <article class="footer_content_wrapper">
      <div class="footer_content">
        <h2 class="uppercase">Get to know us</h2>
        <ul>
          <li>About us</li>
          <li>Meet the team</li>
        </ul>
      </div>
      <div class="footer_content">
        <h2 class="uppercase">Take action</h2>
        <ul>
          <li>Make a Donation</li>
          <li>Birthday Donations</li>
          <li>Find Local Groups</li>
          <li>Scavenger Hunts</li>
        </ul>
      </div>
      <div class="footer_content">
        <h2 class="uppercase">Share the cause</h2>
        <ul>
          <li>Facebook</li>
          <li>Instagram</li>
          <li>Vimeo</li>
        </ul>
      </div>
      <div class="footer_content">
        <h2 class="uppercase">Learn More</h2>
        <ul>
          <li>Blog</li>
          <li>Contact</li>
          <li>Resources</li>
        </ul>
      </div>
    </article>
  </div>
  <div class="container copyright">
    <p class="text-center">
      {new Date().getFullYear()} © SuperHi. Designed by Milan Moffatt, Andre Candido
      + Kristen AC; Developed by Minh Khang Tran
    </p>
  </div>
</footer>

<style>
  @import url("../styles/_media.css");
  img {
    width: 100%;
    padding-top: 7rem;

    @media (--md) {
      padding-top: 15rem;
    }
  }
  footer {
    padding-top: 2.5rem;
    @media (--md) {
      padding-top: 4rem;
    }
  }

  .footer_wrapper {
    color: white;
    display: flex;
    flex-direction: column;
    @media (--md) {
      flex-direction: row;
      justify-content: space-between;
    }
  }
  .left_panel {
    flex: 30%;
  }
  .footer_content_wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
    row-gap: 2.5rem;
    padding-top: 3.5rem;
    @media (--md) {
      padding-top: 0rem;
      display: flex;
      flex: 70%;
      justify-content: space-between;
    }
  }
  ul {
    padding-left: 0;
    margin: 0;
  }
  h2 {
    font-weight: bold;
    margin-bottom: 1rem;
    font-size: 1rem;
  }
  li {
    font-weight: 400;
    font-size: 1rem;
    line-height: 200%;
    color: #d7d6db;
    @media (--md) {
      font-size: 1.125rem;
      line-height: 190%;
    }
  }
  .copyright {
    padding-block: 5rem 2rem;
    color: #d7d6db;
    font-size: 0.8125rem;
    line-height: 140%;
  }
</style>
