<section class="container" id="gallery" aria-label="gallery section">
  <h2 class="h2 text-gray-100 d-flex">
    <svg
      width="28"
      height="28"
      viewBox="0 0 28 28"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M14 2.52257C17.7381 2.52257 18.1809 2.5368 19.6571 2.60415C21.0221 2.66645 21.7634 2.89452 22.2568 3.0862C22.9102 3.34016 23.3767 3.64359 23.8665 4.13347C24.3564 4.62335 24.6598 5.08977 24.9137 5.7432C25.1055 6.23658 25.3335 6.97787 25.3958 8.3428C25.4632 9.8191 25.4774 10.2618 25.4774 14C25.4774 17.7382 25.4632 18.181 25.3958 19.6572C25.3335 21.0222 25.1055 21.7635 24.9137 22.2569C24.6598 22.9103 24.3564 23.3767 23.8665 23.8666C23.3767 24.3565 22.9102 24.6599 22.2568 24.9138C21.7634 25.1055 21.0221 25.3336 19.6571 25.3959C18.1811 25.4633 17.7384 25.4775 14 25.4775C10.2616 25.4775 9.81882 25.4633 8.3428 25.3959C6.97781 25.3336 6.23652 25.1055 5.7432 24.9138C5.08972 24.6599 4.62329 24.3565 4.13341 23.8666C3.64354 23.3767 3.34011 22.9103 3.0862 22.2569C2.89447 21.7635 2.6664 21.0222 2.6041 19.6573C2.53674 18.181 2.52252 17.7382 2.52252 14C2.52252 10.2618 2.53674 9.8191 2.6041 8.34285C2.6664 6.97787 2.89447 6.23658 3.0862 5.7432C3.34011 5.08977 3.64354 4.62335 4.13341 4.13347C4.62329 3.64359 5.08972 3.34016 5.7432 3.0862C6.23652 2.89452 6.97781 2.66645 8.34274 2.60415C9.81904 2.5368 10.2618 2.52257 14 2.52257ZM14 0C10.1978 0 9.72107 0.0161164 8.22782 0.084249C6.73762 0.15227 5.71997 0.3889 4.82941 0.73501C3.90879 1.09279 3.12804 1.5715 2.34974 2.3498C1.57144 3.1281 1.09273 3.90884 0.734954 4.82947C0.388845 5.72003 0.152215 6.73768 0.0841932 8.22787C0.0160606 9.72107 0 10.1978 0 14C0 17.8022 0.0160606 18.279 0.0841932 19.7722C0.152215 21.2624 0.388845 22.28 0.734954 23.1706C1.09273 24.0912 1.57144 24.872 2.34974 25.6503C3.12804 26.4286 3.90879 26.9073 4.82941 27.265C5.71997 27.6112 6.73762 27.8478 8.22782 27.9158C9.72107 27.9839 10.1978 28 14 28C17.8022 28 18.2789 27.9839 19.7721 27.9158C21.2623 27.8478 22.28 27.6112 23.1705 27.265C24.0912 26.9073 24.8719 26.4286 25.6502 25.6503C26.4285 24.872 26.9072 24.0912 27.265 23.1706C27.6111 22.28 27.8477 21.2624 27.9158 19.7722C27.9839 18.279 28 17.8022 28 14C28 10.1978 27.9839 9.72107 27.9158 8.22787C27.8477 6.73768 27.6111 5.72003 27.265 4.82947C26.9072 3.90884 26.4285 3.1281 25.6502 2.3498C24.8719 1.5715 24.0912 1.09279 23.1705 0.73501C22.28 0.3889 21.2623 0.15227 19.7721 0.084249C18.2789 0.0161164 17.8022 0 14 0ZM14 6.81081C10.0295 6.81081 6.81076 10.0296 6.81076 14C6.81076 17.9705 10.0295 21.1892 14 21.1892C17.9704 21.1892 21.1892 17.9705 21.1892 14C21.1892 10.0296 17.9704 6.81081 14 6.81081ZM14 18.6667C11.4227 18.6667 9.33328 16.5773 9.33328 14C9.33328 11.4227 11.4227 9.33333 14 9.33333C16.5773 9.33333 18.6667 11.4227 18.6667 14C18.6667 16.5773 16.5773 18.6667 14 18.6667ZM23.1532 6.52678C23.1532 7.45463 22.4011 8.20681 21.4732 8.20681C20.5454 8.20681 19.7932 7.45463 19.7932 6.52678C19.7932 5.59893 20.5454 4.84681 21.4732 4.84681C22.4011 4.84681 23.1532 5.59893 23.1532 6.52678Z"
        fill="#FFC900"></path>
    </svg>
    Share your catches with the community
  </h2>
  <div class="gallery_wrapper">
    {Array.from({ length: 8 }, (_, index) => {
      return (
        <picture class="gallery_image">
          <source
            media="(min-width: 36em)"
            srcset={`/assets/images/desktop/insta-${index + 1}.jpg`}
          />
          <source
            media="(max-width: 36em)"
            srcset={`/assets/images/mobile/insta-${index + 1}.jpg`}
          />
          <img
            srcset={`/assets/images/desktop/insta-${
              index + 1
            }, /assets/images/mobile/insta-${index + 1}.jpg`}
            sizes="(min-width: 36em), (max-width: 36em)"
            src={`/assets/images/mobile/insta-${index + 1}.jpg`}
            alt={`instapic-${index + 1}`}
          />
        </picture>
      );
    })}
  </div>
</section>

<style>
  @import url("../styles/_media.css");
  section {
    padding-top: 4rem;
    @media (--md) {
      padding-top: 7.5rem;
    }
  }
  h2 {
    flex-direction: column;
    align-items: center;
    text-align: center;
    @media (--md) {
      flex-direction: row;
      justify-content: center;
    }
  }
  .gallery_wrapper {
    display: grid;
    padding-top: 2rem;
    grid-template-columns: repeat(2, 1fr);
    @media (--md) {
      padding-top: 4.5rem;
      grid-template-columns: repeat(4, 1fr);
    }
  }
</style>
